[Unit]
Description=LiveMedia Pacman mirrors ranking script
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/pacman-mirrors -m rank --geoip
ExecStart=/usr/bin/pacman -Syy

[Install]
WantedBy=multi-user.target
